<main>
    <header class="brand-name">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
      <h1>Order Mangata Oil Products Today</h1>
    </header>

    <div class="menubar">
        <!-- <p>Menu Items</p> -->
        <form class="input" action="/action_page.php">
            <input type="text" placeholder="Search Item" name="search" #filter  (keyup)="applyFilter($event)" #input>
            <button type="submit"  (click)="filterResults(filter.value)">Search</button>
          </form>
          <!-- <form class="input" action="/action_page.php">
         <-- <div class="mealadding"><button type="submit"  mat-raised-button (click)="openAddCategoryForm()">Add Category</button></div>
          </form> -->
    </div>
    
    <br>
    
    
<section class="comboss">

    <!-- <div article-title><p>Meals</p></div> -->
    <div class="addmealbtn"><button (click)="openAddEditMealForm()"  class="rounded-left" name="category" id="category" placeholder="select category" ><!--The dropdown, to hide or show a form contents-->
        Add Item</button>
        <button class="invoice-button rounded-right" style="width: 33px; border-left: 1px solid gainsboro;"  [matMenuTriggerFor]="menu" #t="matMenuTrigger">
            <mat-icon  *ngIf="!t.menuOpen">expand_more</mat-icon>
            <mat-icon  *ngIf="t.menuOpen">expand_less</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button style="width: 133px; height: 20px; color: black;" (click)="openOrderItemForm()" mat-menu-item>Make Order</button>
          </mat-menu> 
        
         <!-- <div>
            <button [mat-dialog-close]="isContinue" cdkFocusInitial class="close-icon-button" mat-dialog-actions
              mat-icon-button>
              <mat-icon>cancel</mat-icon>
            </button>
         </div> -->
   </div> 
   <h4> Items Ex-Stock</h4>
    <section class="datatable">
        <table  class="tabled" mat-table [dataSource] = "dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let row"> {{row.id}}</td>
                </ng-container>
                <!--image to figure shortly-->
                <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                <td mat-cell *matCellDef="let row"> {{row.itemName}}</td>
              </ng-container>

              <ng-container matColumnDef="itemUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
                <td mat-cell *matCellDef="let row"> <img src="{{row.itemUrl}}" width="100px" alt="menuitem.img"></td>
              </ng-container>
  
              <ng-container matColumnDef="itemValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>itemValue</th>
                <td mat-cell *matCellDef="let row"> {{row.itemValue}}</td>
              </ng-container>
  
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
                <td mat-cell *matCellDef="let row"> {{row.code}}</td>
              </ng-container> 

              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty In </th>
                <td mat-cell *matCellDef="let row"> {{row.action}}</td>
              </ng-container> 
              
  
               <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" (click)="openEditSForm(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteSinglemeal(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>  -->
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              <!-- Row shown when there is no matching data. 
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>-->
            </table>
  
            <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
      </section>

</section>

<section>
    <table mat-table [dataSource] = "orderDataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row;let i=index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="firstlastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
            <td mat-cell *matCellDef="let row"> {{row.firstlastname}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
          </ng-container>
 
        <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
            <td mat-cell *matCellDef="let row"> {{row.itemName}}</td>
       </ng-container>

       <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Qty </th>
        <td mat-cell *matCellDef="let row"> {{row.qty}}</td>
      </ng-container> 

      <ng-container matColumnDef="itemValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>itemValue</th>
        <td mat-cell *matCellDef="let row"> {{row.itemValue}}</td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
        <td mat-cell *matCellDef="let row"> {{row.code}}</td>
      </ng-container> 
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditSForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteSinglemeal(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>

      <!-- Row shown when there is no matching data. 
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>-->
    </table>
</section>

 
    <!-- <mat-horizontal-stepper #stepper [linear]="false">
    <mat-step [stepControl]="applicationDetailsForm">
        <ng-template matStepLabel>Order details</ng-template>
        <div class="section_header">
          <h4 class="title">Application details</h4>
        </div>
        <div class="row_section_margins" fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column"
             fxLayoutGap="50px"
             fxLayoutGap.xs="5px">

            <div fxFlex="" [formGroup]="applicationDetailsForm">
              <label>Application ref. No:</label>
              <span aria-required="true" class="required"> *</span><br>
              <mat-form-field appearance="outline" class="form_field" style="width: 50%;">
                <input formControlName="itemname" matInput placeholder="Ref. Number"
                       aria-required="true" type="text">
                <mat-error *ngIf="!applicationDetailsForm.hasError('itemname', 'required')"
                           class="text-danger small position-absolute">Item name required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form_field" style="width: 50%;">
                <input formControlName="description" matInput placeholder="eg. size, model"
                       aria-required="true" type="text">
              </mat-form-field>
              <mat-form-field appearance="outline" class="form_field" style="width: 50%;">
                <input formControlName="qty" matInput placeholder="Ref. Number"
                       aria-required="true" type="number">
                <mat-error *ngIf="!applicationDetailsForm.hasError('reference_number', 'required')"
                           class="text-danger small position-absolute">Quantity is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form_field" style="width: 50%;">
                <input formControlName="price" matInput placeholder="Ref. Number"
                       aria-required="true" type="number">
                <mat-error *ngIf="!applicationDetailsForm.hasError('price', 'required')"
                           class="text-danger small position-absolute">Price is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form_field" style="width: 50%;">
                <input formControlName="total" matInput placeholder="Ref. Number"
                       aria-required="true" type="number">
              </mat-form-field>

              </mat-form-field>
              <mat-form-field appearance="outline" class="form_field" style="width: 50%;">
                <button formControlName="action" mat-raised-button
                       aria-required="true">Delete</button>
              </mat-form-field>
            </div>
        </div>

            <div class="section_header">
              <h4 class="title">Purchase Details</h4>
            </div>

            <div class="row_section_margins" fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column"
             fxLayoutGap="50px"
             fxLayoutGap.xs="5px">

             <div fxFlex="">
              
             <div [formGroup]="AppealReasonsForm">
                <label>Reasons for appeal of stamp duty:</label>
                <span aria-required="true" class="required"> * </span><br>
                <mat-form-field appearance="outline" class="form_field_textarea" style="width: 100%;">
                    <textarea formControlName="appeal_reasons" matInput placeholder="Reasons">
                    </textarea>
                </mat-form-field>
                <br>
                <button  class="form_button" color="primary" mat-raised-button [disabled]="applicationDetailsForm.invalid || AppealReasonsForm.invalid"
                        (click)="addReason()">Add
                </button>
                 [disabled]="RefundReasonsForm.invalid" 
              </div> 
              </div>
            </div>-->

          
                
    <!-- <div class="row_section_margins" *ngFor="let info of appeal_reasons; let i = index;">
          <h4 class="reason-title-box" *ngIf="appeal_reasons.length !==0">Reasons for Stamp Duty Appeal</h4>
          
          <div class="info" >
            <div fxLayout="row">
              <div fxFlex="" style="width: 100%">
                <p>{{info}}</p> 
              </div>
              <div fxFlex="">
             <i class="material-icons close-icon" (click)="removeReason(i)">close</i>
              </div>
            </div>
          </div>
        </div> 

        <div>
          <button class="form_button next_btn" color="primary" 
                  mat-raised-button matStepperNext>Next
          </button>
         [disabled]="applicationDetailsForm.invalid" (click)="getStampDutyDetails()"
           <button class="form_button back_btn" color="primary" mat-raised-button matStepperPrevious>Back</button> 
        </div>
      </mat-step>
    </mat-horizontal-stepper> -->
    

</main> 
