<main>
    <header class="brand-name">
      <div class="logodiv">
        <img class="brand-logo" src="/assets/logoimg.jpg" alt="logo" aria-hidden="true" width="200" height="170">
      </div>
      <div class="logodiv title">
        <h1>Mangata Products </h1>
        <h2>Tax Invoice</h2>
      </div>

    </header>

    <div class="menubar">
        <!-- <p>Menu Items</p> -->
        <form class="input" action="/action_page.php">
            <input type="text" placeholder="Search Item" name="search" #filter  (keyup)="applyFilter($event)" #input>
            <button type="submit"  (click)="filterResults(filter.value)">Search</button>
          </form>

    </div>
    
    <br>
<!--     
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            
        </mat-expansion-panel>
    </mat-accordion> -->
<section class="comboss"  fxLayout="column">

    <!-- <div article-title><p>Meals</p></div> -->
    <div class="addmealbtn"><button (click)="openAddEditOrderForm()" name="category" id="category" placeholder="select category" ><!--The dropdown, to hide or show a form contents-->
        Add Item</button>
        
   </div> 
   

    <mat-card class="" fxFlex="50%" >
        <mat-card-title> Items Ex-Stock</mat-card-title>
        <table  class="tabled" mat-table [dataSource] = "dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let row"> {{row.id}}</td>
                </ng-container>
                <!--image to figure shortly-->
                <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                <td mat-cell *matCellDef="let row"> {{row.itemName}}</td>
              </ng-container>

              <ng-container matColumnDef="itemUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
                <td mat-cell *matCellDef="let row"> <img src="{{row.itemUrl}}" width="100px" alt="menuitem.img"></td>
              </ng-container>
  
              <ng-container matColumnDef="itemValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>itemValue</th>
                <td mat-cell *matCellDef="let row"> {{row.itemValue}}</td>
              </ng-container>
  
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
                <td mat-cell *matCellDef="let row"> {{row.code}}</td>
              </ng-container> 

              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty In </th>
                <td mat-cell *matCellDef="let row"> {{row.action}}</td>
              </ng-container> 
              
  
               <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" (click)="openEditSForm(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteSinglemeal(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>  -->
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              <!-- Row shown when there is no matching data. 
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>-->
            </table>
  
            <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </mat-card>

      <!-- style="width: 133px; height: 20px; color: black;" -->
    <!-- </mat-menu>  -->
  
  <mat-card  fxFlex="50%">
    <div class="additembtn"><button (click)="openOrderItemForm()" mat-menu-item>Make Order</button></div>

      <table mat-table [dataSource] = "orderDataSource" matSort>
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
              <td mat-cell *matCellDef="let row;let i=index">{{i+1}}</td>
          </ng-container>
  
          <ng-container matColumnDef="firstlastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.firstlastname}}</td>
          </ng-container>
  
          <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
              <td mat-cell *matCellDef="let row"> {{row.address}}</td>
          </ng-container>
  
          <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
              <td mat-cell *matCellDef="let row"> {{row.phone}}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
   
          <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
              <td mat-cell *matCellDef="let row"> {{row.itemName}}</td>
         </ng-container>
  
         <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Qty </th>
          <td mat-cell *matCellDef="let row"> {{row.qty}}</td>
        </ng-container> 
  
        <ng-container matColumnDef="itemValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>itemValue</th>
          <td mat-cell *matCellDef="let row"> {{row.itemValue}}</td>
        </ng-container>
  
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
          <td mat-cell *matCellDef="let row"> {{row.code}}</td>
        </ng-container> 

        <ng-container matColumnDef="invoice_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </th>
            <td mat-cell *matCellDef="let row"> {{row.invoice_date | date}}</td>
          </ng-container> 

          <ng-container matColumnDef="payment_due">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Due </th>
            <td mat-cell *matCellDef="let row"> {{row.payment_due | date}}</td>
          </ng-container> 

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditOrderForm(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteOrder(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="printbtn"><button (click)="printPdf(row)" >
                 Print</button></div>
            <!-- <div class="printbtn"><button (click)="printPdf()" mat-menu-item>Print Pdf</button></div> -->
          </td>
        </ng-container>

  
        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
  
        <!-- Row shown when there is no matching data. 
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>-->
      </table>
  </mat-card>

</section>
    

</main> 
