
<h4 mat-dialog-title> Add Item</h4>
  
  <form [formGroup]="combomealForm" (ngSubmit)="onFormSubmit()">
    <!-- <mat-form-field appearance="outline">
      <mat-label>Item No.</mat-label>
      <input matInput type="text" placeholder="Enter number" formControlName="id">
  </mat-form-field> -->
  
  <mat-form-field appearance="outline">
      <mat-label>Item Name</mat-label>
      <input matInput placeholder="Item name" formControlName="itemName">
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Value</mat-label>
      <input placeholder="cost" matInput formControlName="itemValue">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Quantity</mat-label>
    <input placeholder="qty In" matInput formControlName="action">
</mat-form-field>

  <!-- <mat-form-field appearance="outline">
      <mat-label>Date Added</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateAdded">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  
<mat-form-field appearance="outline">
    <input placeholder="Add item code" matInput formControlName="code">
</mat-form-field>
  
<div mat-dialog-actions class="action">
  <!-- <button mat-raised-button type="button" [mat-dialog-close]="false">Close</button> -->
  <button mat-button color="primary" type="submit">{{ data ? 'Update': 'Add Item' }}</button>
</div>

</form>

