*{
    padding:5px 20px 5px 20px;
}


    mat-form-field{
    display: block important;
    position:relative;
    text-align: left;
    width:100%;
    color: black;
    padding-bottom: 10px;

    
}
.addbutton{
    width:60%;
    background-color: green;
    height:50px;
    align-items: center;
}
form button{
    width: 70%;
   margin-left: 80px;
}